{% extends 'base.html.twig' %}

{% block title %}Ajouter un Thermostat{% endblock %}

{% block body_class %}ajout-thermostat-page{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2 class="text-center">Ajouter un nouveau thermostat</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.identifiantUnique) }}
                        {{ form_widget(form.identifiantUnique, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.temperatureActuelle) }}
                        {{ form_widget(form.temperatureActuelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.temperatureCible) }}
                        {{ form_widget(form.temperatureCible, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.mode) }}
                        {{ form_widget(form.mode, {'attr': {'class': 'form-select'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.connectivite) }}
                        {{ form_widget(form.connectivite, {'attr': {'class': 'form-select'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.niveauBatterie) }}
                        {{ form_widget(form.niveauBatterie, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.salle) }}
                        {{ form_widget(form.salle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn btn-success w-100">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
