{% extends 'base.html.twig' %}
{% block body_class %}monprofil-page{% endblock %}
{% block title %}Modifier votre email{% endblock %}

{% block body %}
  <header class="site-header">
<h1>Modifier votre Email</h1>

{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.submit) }}
{{ form_end(form) }}

<a href="{{ path('app_profile_details') }}">Annuler</a>
</header>
{% endblock %}
