{% extends 'base.html.twig' %}
{% block body_class %}monprofil-page{% endblock %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
  <header class="site-header">
<div class="container">
    <h1>Modifier votre mot de passe</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.new_password) }}
            {{ form_widget(form.new_password) }}
        </div>
    {{ form_end(form) }}
</div>
</header>
{% endblock %}
