{% extends 'base.html.twig' %}
{% block body_class %}home-page{% endblock %}
{% block title %}Administration{% endblock %}

{% block body %}
                <header class="site-header">
<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Tableau de bord Administrateur</h1>
    
  

            <h2 class="text-xl font-semibold mb-2">Utilisateurs</h2>
            <p class="text-gray-600">Gérez les utilisateurs et leurs rôles.</p>
            <a href="{{ path('admin_utilisateurs')}}" class="mt-4 inline-block bg-blue-500 text-blue px-4 py-2 rounded-lg">Gérer</a>
        </div>

        
            <h2 class="text-xl font-semibold mb-2">Objets</h2>
            <p class="text-gray-600">Gérez les objets du site à l'aide du module gestion</p>
            <a href="{{ path('app_gestion')}}" class="mt-4 inline-block bg-red-500 text-blue px-4 py-2 rounded-lg">Tous les objets du site</a>
        </div>
    </div>




    <!-- Bouton pour la sauvegarde -->
    <button id="backup-btn" class="btn btn-primary">Sauvegarder la base de données</button>
    <div id="backup-message"></div>
    

    <script>
        document.getElementById('backup-btn').addEventListener('click', function() {
            fetch("{{ path('admin_backup') }}", {
                method: "POST",
                headers: {
                    "X-Requested-With": "XMLHttpRequest"
                }
            })
            .then(response => response.json())
            .then(data => {
                let messageDiv = document.getElementById('backup-message');
                if (data.status === "success") {
                    messageDiv.innerHTML = "<div class='alert alert-success'>" + data.message + "</div>";
                } else {
                    messageDiv.innerHTML = "<div class='alert alert-danger'>" + data.message + "</div>";
                }
            })
            .catch(error => console.error("Erreur AJAX:", error));
        });


    </script>
    <div class="container mt-5">
    <h1>Générer un rapport</h1>
    <a href="{{ path('admin_report_export', {'format': 'csv'}) }}" class="btn btn-primary">Exporter en CSV</a>
    <a href="{{ path('admin_report_export', {'format': 'pdf'}) }}" class="btn btn-secondary">Exporter en PDF</a>
</div>
</div>
</header>
{% endblock %}
